<!DOCTYPE html>
<html lang="en" ng-app="NBA-Visualizer">
  <head>
    <title>NBA Data Visualizer</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <script src="javascripts/app.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Custom styles for this template-->
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link href="/stylesheets/homepage.css" rel="stylesheet">
  </head>

  <body ng-controller="teamController">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <span class="navbar-brand center">NBA Data Visualizer</span>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">Home</a>
          <a class="nav-item nav-link active" href="/team">Team</a>
        </div>
      </div>
    </nav>
    </br>

    <div class="query-container">
        <div class="jumbotron">
          <div class="h5">Most Likely Place for Player to Make a Shot in a Particular season (Query 2)</div>
          <div class="input-container">
            <input type="text" ng-model="inputPlayer" placeholder="Enter Player" class="input_player"/>
            <input type="text" ng-model="inputSeason" placeholder="Enter Season" class="input_season"/>
            <button ng-click="submitlikelyshotQuery()" class="submit-btn">Submit</button>
          </div>
          <div class="result-container">
              <div class="results">
                  <div class="header"><strong>Player Name</strong></div>
                  <div class="header"><strong>Season</strong></div>
                  <div class="header"><strong>Most Likely Distance (ft)</strong></div>
              </div>
            <div class="likelyshot" ng-repeat="l in likelyshot">
            <div class="column"> {{l[0]}}</div>
            <div class="column"> {{l[1]}}</div>
            <div class="column"> {{l[2]}}</div>
            </div>
          </div>
        </div>
    </div> 

    <div class="query-container">
        <div class="jumbotron">
          <div class="h5">Player’s true shooting percentage rookie year (Query 3)</div>
          <div class="input-container">
            <input type="text" ng-model="shootingpercentageInput" placeholder="Enter Player" class="input_player"/>
            <button ng-click="submitTrueShootingQuery()" class="submit-btn">Submit</button>
          </div>
          <div class="result-container">
              <div class="results">
                  <div class="header"><strong>Player Name</strong></div>
                  <div class="header"><strong>Rookie Season</strong></div>
                  <div class="header"><strong>True Shooting Percentage</strong></div>
              </div>
            <div class="shootingpercentage" ng-repeat="p in shootingpercentage">
            <div class="column"> {{p[0]}}</div>
            <div class="column"> {{p[1]}}</div>
            <div class="column"> {{p[2]}}</div>
            </div>
        </div>
      </div>
    </div> 


    <div class="query-container">
      <div class="jumbotron">
        <div class="h5">Make a Query</div>
        <div class="input-container">
          <input type="text" ng-model="teamName" placeholder="Enter Team" class="team-input"/>
          <button ng-click="submitTeamQuery()" class="submit-btn">Submit</button>
        </div>
        <div class="result-container">
          <div class="team" ng-repeat="t in team">
          <div class="column"> {{t[0]}}</div>
          <div class="column"> {{t[1]}}</div>
          </div>
      </div>
    </div>
  
 
    <!-- Include these before the end of body tag in every HTML file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>

</html>
