.query-container {
  display: flex;
  flex-flow: column wrap;
  margin-top: 10px;
}

.query-container .team {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.team .column {
  flex: 1 0 20%;
}
